@media print {
    @page { size: landscape; }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Serif+Georgian:wght@400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    color: #2B2B2B;
}

.base-container {
    width: 842px;
    height: 595px;
    background-color: #f9f9f9;
    padding: 14px;
}

.main-container {
    width: 813px;
    height: 566px;
    border: 4px solid #1F2855;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 6px 0px #0093ad;
}

.judul {
    color: #182958;
}

.logo {
    width: 88px;
    height: 64px;
    margin: 0;
}

.profile {
    margin-bottom: 30px;
}

.title {
    font-size: 40px;
    font-family: 'Georgia', sans-serif;
    font-weight: 600;
    letter-spacing: 8px;
    margin-top: 35px;
    background: linear-gradient(180deg, #C8A23C 0%, #B08100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.given-to {
    font-size: 16px;
    font-weight: 600;
}

.name {
    width: 70%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}

.content-title {
    margin-top: 25px;
}

.content {
    width: 70%;
    text-align: center;
}

.footer-container {
    padding: 0 25%;
}

.footer-container p {
    margin-bottom: 0;
}

.footer-container .from {
    margin-bottom: 50px;
}

.footer-container .who {
    text-align: center;
    padding-bottom: 5px;
    width: 150px;
    border-bottom: 1px solid #000;
}

.footer-container .role {
    font-weight: 600;
}

.code {
    position: absolute;
    bottom: 43px;
    right: 43px;
}

.code img{
    height: 84px;
    width: 84px;
}

.code .qr-code-text {
    text-align: center;
    width: 110px;
    line-height: 1.3;
    margin-bottom: 13px;
    font-size: 11px;
}

.code .qr-code {
    width: 110px;
}